# Properties of Dictionary

- Its a collection of key and value pair
- A key and value together is refered as an item
- Items are sep by ,
- A key and a value is sep by :
- keys can't be duplicate
- wheras values can be duplicated
- A key can't be an mutable data type
- whereas a value can be anything(mutable,imutable)
- It is not a seq data type hence no indexing, slicing, concatenation,repetation
- Membership op are not possible but only on keys
- Identity op are possible

### It's an mutable data type

In [17]:
a = {'name':'siya','age':30,'salary':300000}

print(a,type(a))

print(len(a))

{'name': 'siya', 'age': 30, 'salary': 300000} <class 'dict'>
3

In [21]:
a = {'name':'siya','age':30,'salary':300000,'name':'ram'}

print(a,type(a))

#name key get updated so its not duplicate

{'name': 'ram', 'age': 30, 'salary': 300000} <class 'dict'>

In [29]:
a = {'name':'siya','age':30,'salary':300000,'emp1':'siya'}

print(a,type(a))

#nvalues can be duplicate

{'name': 'siya', 'age': 30, 'salary': 300000, 'emp1': 'siya'} <class 'dict'>

In [35]:
a = {23:33,'abd':23,(1,2):'siya'}
a

# any immutable data type is key like string,integer,tuple

{23: 33, 'abd': 23, (1, 2): 'siya'}

a = {'name':'siya','age':30,'salary':300000,'emp1':'siya'}

print(a[0])

# It will not allow indexing,slicing,concate,repetation

In [43]:
a = {'name':'siya','age':30,'salary':300000,'emp1':'siya'}

print(a['age'])

# we can access value by giving key

30

In [45]:
a = {'name':'siya','age':30,'salary':300000,'emp1':'siya'}

'age'in a
# membership only work for key

True

In [51]:
a = {'name':'siya','age':30,'salary':300000,'emp1':'siya'}

'siya' in a
# membership will not for values, never do check on values

False

In [72]:
a = {'name':'siya','age':30,'salary':300000,'emp1':'siya'}
b = {'name':'siya','age':30,'salary':300000,'emp1':'siya'}

print(a is b)

False

In [80]:
# we extract data as per keys ,so dict is mutable

a = {'name':'siya','age':30,'salary':300000,'emp1':'siya'}

a['name'] = 'Ram'

a

{'name': 'Ram', 'age': 30, 'salary': 300000, 'emp1': 'siya'}

In [86]:
emp_data = {'emp_1': {'name':'siya','age':21,'salary':908876},
            'emp_2': {'name':'siya','age':39,'salary':895471},
            'emp_3': {'name':'siya','age':32,'salary':369874}
           }
emp_data['emp_3']['age']

32

In [88]:
emp_data = {'emp_1': {'name':'siya','age':21,'salary':908876},
            'emp_2': {'name':'siya','age':39,'salary':895471},
            'emp_2': {'name':'siya','age':32,'salary':369874}
           }
emp_data

{'emp_1': {'name': 'siya', 'age': 21, 'salary': 908876},
 'emp_2': {'name': 'siya', 'age': 32, 'salary': 369874}}

In [106]:
emp_data = {'emp_1': {'name':'siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Ram','age':32,'salary':369874}
           }
for i in emp_data:
    if emp_data[i]['age'] <= 30:
        print(emp_data[i]['name'])

siya
Kiya

In [137]:
emp_data = {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
for i in emp_data:
    if emp_data[i]['name'].lower().startswith('s'):
        print(i,emp_data[i]['name'])

emp_1 Siya
emp_3 Sam

# Methods of Dictionary

In [140]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### Methods to add or access the items in the dict

- get: 1.extract value if the key is present
       2.if the key is not present by default it returns None
       3.Custom message can be returned if the key is not present
       4.Can't change the existing
       5.Can't insert any data in the dict 
- setdefault: 1.Extract the value if the key is present
              2.Can insert 1 record at a time
              3.Can't change the existing data
              4.Can't insert multiple records at a time
- update:
          1.can change the existing data
          2.can insert multiple items

In [144]:
# get : if key is present

emp_data = {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
emp_data.get('emp_2')

{'name': 'Kiya', 'age': 29, 'salary': 895471}

In [148]:
# get : if key is not present

emp_data = {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
print(emp_data.get('emp_4'))

None

In [156]:
# get : if key is not present - custom msg

emp_data = {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
print(emp_data.get('emp_4', "The emp you are searching for is not present in database"))

The emp you are searching for is not present in database

In [ ]:
# we can't insert any data and change in data using get method

In [160]:
# Setdefault-  if key is present

emp_data = {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
print(emp_data.setdefault('emp_3'))

{'name': 'Sam', 'age': 32, 'salary': 369874}

In [168]:
# Setdefault-  if key is not present

emp_data = {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
print(emp_data.setdefault('emp_4'))
emp_data

None

{'emp_1': {'name': 'Siya', 'age': 21, 'salary': 908876},
 'emp_2': {'name': 'Kiya', 'age': 29, 'salary': 895471},
 'emp_3': {'name': 'Sam', 'age': 32, 'salary': 369874},
 'emp_4': None}

In [172]:
# we can insert any data and change in data using get method
emp_data = {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
print(emp_data.setdefault('emp_4',{'name':'Ram','age':30,'salary':999874}))
emp_data

{'name': 'Ram', 'age': 30, 'salary': 999874}

{'emp_1': {'name': 'Siya', 'age': 21, 'salary': 908876},
 'emp_2': {'name': 'Kiya', 'age': 29, 'salary': 895471},
 'emp_3': {'name': 'Sam', 'age': 32, 'salary': 369874},
 'emp_4': {'name': 'Ram', 'age': 30, 'salary': 999874}}

In [188]:
#Update

emp_data = {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
new = {'emp_4': {'name':'ram','age':55,'salary':808876},
            'emp_5': {'name':'piya','age':44,'salary':795471},
           }
emp_data.update(new)
emp_data

{'emp_1': {'name': 'Siya', 'age': 21, 'salary': 908876},
 'emp_2': {'name': 'Kiya', 'age': 29, 'salary': 895471},
 'emp_3': {'name': 'Sam', 'age': 32, 'salary': 369874},
 'emp_4': {'name': 'ram', 'age': 55, 'salary': 808876},
 'emp_5': {'name': 'piya', 'age': 44, 'salary': 795471}}

In [217]:
emp_data= {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
key = f'emp_{len(emp_data) + 1}'
name = input("Enter name:")
age = input("Enter age:")
salary = input("Enter salary:")

emp_data.setdefault(key,{'name':name,'age':age,'salary':salary})
emp_data

Enter name: shivani
Enter age: 26
Enter salary: 600000

{'emp_1': {'name': 'Siya', 'age': 21, 'salary': 908876},
 'emp_2': {'name': 'Kiya', 'age': 29, 'salary': 895471},
 'emp_3': {'name': 'Sam', 'age': 32, 'salary': 369874},
 'emp_4': {'name': 'shivani', 'age': '26', 'salary': '600000'}}

In [223]:
emp_data= {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
key = f'emp_{len(emp_data) + 1}'
name = input("Enter name:")
age = input("Enter age:")
salary = input("Enter salary:")

emp_data.update({key : {'name':name,'age':age,'salary':salary}})
emp_data

Enter name: shiv
Enter age: 28
Enter salary: 100000

{'emp_1': {'name': 'Siya', 'age': 21, 'salary': 908876},
 'emp_2': {'name': 'Kiya', 'age': 29, 'salary': 895471},
 'emp_3': {'name': 'Sam', 'age': 32, 'salary': 369874},
 'emp_4': {'name': 'shiv', 'age': '28', 'salary': '100000'}}

# Methods to remove the items from dict

In [226]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

1. pop- any data present in dict we can remove
   
2. popitem -  remove last item

In [230]:
# Pop:

emp_data= {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
emp_data.pop('emp_3')

{'name': 'Sam', 'age': 32, 'salary': 369874}

In [232]:
emp_data

{'emp_1': {'name': 'Siya', 'age': 21, 'salary': 908876},
 'emp_2': {'name': 'Kiya', 'age': 29, 'salary': 895471}}

In [234]:
emp_data= {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
emp_data.pop('emp_5')

KeyError: 'emp_5'

In [236]:
emp_data= {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
emp_data.popitem()

('emp_3', {'name': 'Sam', 'age': 32, 'salary': 369874})

In [238]:
emp_data

{'emp_1': {'name': 'Siya', 'age': 21, 'salary': 908876},
 'emp_2': {'name': 'Kiya', 'age': 29, 'salary': 895471}}

In [302]:
exist = {'emp_1': {'name': 'Siya', 'age': 21, 'salary': 908876},
 'emp_2': {'name': 'Kiya', 'age': 29, 'salary': 895471},
 'emp_3': {'name': 'Sam', 'age': 32, 'salary': 369874},
 'emp_4': {'name': 'shivani', 'age': '26', 'salary': 600000},
 'emp_5': {'name': 'shiv', 'age': 28, 'salary': 775471},
 'emp_6': {'name': 'sakhi', 'age': 23, 'salary': 969874},
 'emp_7': {'name': 'tina', 'age': 45, 'salary': 340000}}
ex_emp = {}

In [308]:

emp_left = input("enter employee who left company:")

ex_emp.setdefault(emp_left,exist.pop(emp_left))
print(ex_emp)

enter employee who left company: emp_6

{'emp_7': {'name': 'tina', 'age': 45, 'salary': 340000}, 'emp_6': {'name': 'sakhi', 'age': 23, 'salary': 969874}}

In [310]:
print(exist)

{'emp_1': {'name': 'Siya', 'age': 21, 'salary': 908876}, 'emp_2': {'name': 'Kiya', 'age': 29, 'salary': 895471}, 'emp_3': {'name': 'Sam', 'age': 32, 'salary': 369874}, 'emp_4': {'name': 'shivani', 'age': '26', 'salary': 600000}, 'emp_5': {'name': 'shiv', 'age': 28, 'salary': 775471}}

In [300]:
print(ex_emp)

{'emp_5': {'name': 'shiv', 'age': 28, 'salary': 775471}}

In [318]:
# From keys

a = ['xyz','abc','pqr']
print(dict.fromkeys(a,1))

{'xyz': 1, 'abc': 1, 'pqr': 1}