# Functions

- Should be written in as minimum line as possible
-

# Function ---> do not repeat yourself

1. function defination--> define code
2. Function call--------> We excute the code 

Syntax of Function defination:

def function_name(parameters):
    stat1
    stat2
    return stat3

syntax of Function call:

function_name(arguments)


####Things which are optional
1.return---> but if not used by default every function return None
2. parameters-->but if you created paramaters should be complusorly pass arguments

In [58]:
# Function declaration
def adder():
    print(99 + 4)
# Function call
adder()

103

In [60]:
def adder(a,b):
    print(a+b)
adder(4,5)

9

In [74]:
def palin(a):
    if(a[::-1]==a):
        print(f"{a} is Palindrome")
    else:
        print(f"{a} is Not palindrome")
palin("madam")
palin("level")
palin("rotor")
palin("car")

madam is Palindrome
level is Palindrome
rotor is Palindrome
car is Not palindrome

In [68]:
a = input("Enter Data:")
def palin():
    if(a[::-1]==a):
        print("Palindrome")
    else:
        print("Not palindrome")
palin()

Enter Data: racecar

Palindrome

# Types of arguments

1. Positional arguments
2. keywords arguments
3. default arguments
4. variable length

# Positional arguments: 
1.order is important  
2.number of paramaters should be total number of arguments

In [ ]:
def emp_info(name,age,salary):
    print("name:",name)
    print("age:",age)
    print("salary:",salary)
emp_info("shivani",26,3500000)

# Keyword:
- order is not important
- you can give mix position, or keyword, but keyword args should be given at the end

In [90]:
def emp_info(name,age,salary):
    print("name:",name)
    print("age:",age)
    print("salary:",salary)
emp_info(age= 26,name="shivani",salary=3500000)

name: shivani
age: 26
salary: 3500000

In [95]:
def emp_info(name,age,salary):
    print("name:",name)
    print("age:",age)
    print("salary:",salary)
emp_info("shivani",26,salary=3500000)

name: shivani
age: 26
salary: 3500000

# Default

In [100]:
def emp_info(name,age,salary,loc = "Bangalore",pin=123456):
    print("name:",name)
    print("age:",age)
    print("salary:",salary)
    print("location:",loc)
    print("pincode:",pin)

emp_info("shivani",26,salary=3500000)

name: shivani
age: 26
salary: 3500000
location: Bangalore
pincode: 123456

In [106]:
# Change in default
def emp_info(name,age,salary,loc = "Bangalore",pin=123456):
    print("name:",name)
    print("age:",age)
    print("salary:",salary)
    print("location:",loc)
    print("pincode:",pin)

emp_info("shivani",26,3500000,loc='goa',pin=345678)

name: shivani
age: 26
salary: 3500000
location: goa
pincode: 345678

In [108]:
def emp_info(name,age,/,salary,*,loc = "Bangalore",pin=123456):
    print("name:",name)
    print("age:",age)
    print("salary:",salary)
    print("location:",loc)
    print("pincode:",pin)

emp_info("shivani",26,3500000,loc='goa',pin=345678)

name: shivani
age: 26
salary: 3500000
location: goa
pincode: 345678

In [114]:
def emp_info(name,age,/,salary,*,loc = "Bangalore",pin=123456):
    print("name:",name)
    print("age:",age)
    print("salary:",salary)
    print("location:",loc)
    print("pincode:",pin)

emp_info("shivani",26,salary=3500000,loc='goa',pin=345678)

name: shivani
age: 26
salary: 3500000
location: goa
pincode: 345678

In [137]:
lst = [12,34,556,78]

lst.sort(reverse = True) #### after * only keyword args
print(lst)

[556, 78, 34, 12]

In [139]:
a= 'python parrot pink'
a.replace('p','j',1) ####before / only positional args

'jython parrot pink'

# Variable Length

*args, **kwargs

1. *args ---> it takes the variable length postional arguments and store it in form of tuple
2. **kwargs--->it takes the variable length keyword arguments and store it in form of dictionary

In [146]:
def adder(*args):
    print(args, type(args))
adder(1,2,3,4,5)

(1, 2, 3, 4, 5) <class 'tuple'>

In [148]:
def adder(**kwargs):
    print(kwargs, type(kwargs))
adder(name = "siya",age=26)

{'name': 'siya', 'age': 26} <class 'dict'>

In [152]:
def adder(*args):
    print(sum(args))
adder(1,2,3,4,5)

15

In [154]:
def adder(*args,**kwargs):
    print(args, type(args))
    print(kwargs, type(kwargs))

adder(1,2,3,4,5,name = "siya",age=26)

(1, 2, 3, 4, 5) <class 'tuple'>
{'name': 'siya', 'age': 26} <class 'dict'>

In [158]:
emp_data =  {'emp_1': {'name': 'Salahudin', 'age': 32, 'salary': 4234324},
             'emp_2': {'name': 'Pranav', 'age': 43, 'salary': 4234234324},
             'emp_3': {'name': 'Mohini', 'age': 26, 'salary': 4234324324},
            'emp_4': {'name': 'saurabh', 'age': 23, 'salary': 4234324324}}

In [160]:
def emp_adder(name , age , salary , **kwargs):
    key = f'emp_{ len(emp_data) + 1}'
    emp_data.setdefault(key , {'name': name, 'age': age, 'salary': salary}).update(kwargs)

In [162]:
def emp_adder(name , age , salary , **kwargs):
    key = f'emp_{ len(emp_data) + 1}'
    d = {'name': name, 'age': age, 'salary': salary}
    d.update(kwargs)
    emp_data.setdefault(key , d)

In [164]:
emp_adder('lmn',32,323221 , adhar = 32 ,pan = 43)

emp_data

{'emp_1': {'name': 'Salahudin', 'age': 32, 'salary': 4234324},
 'emp_2': {'name': 'Pranav', 'age': 43, 'salary': 4234234324},
 'emp_3': {'name': 'Mohini', 'age': 26, 'salary': 4234324324},
 'emp_4': {'name': 'saurabh', 'age': 23, 'salary': 4234324324},
 'emp_5': {'name': 'lmn', 'age': 32, 'salary': 323221, 'adhar': 32, 'pan': 43}}

In [1]:
existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 32, 'salary': 4234324},
                 'emp_2': {'name': 'Pranav', 'age': 43, 'salary': 4234234324},
                 'emp_3': {'name': 'Mohini', 'age': 26, 'salary': 4234324324},
                 'emp_4': {'name': 'saurabh', 'age': 23, 'salary': 4234324324},
                 'emp_5': {'name': 'Amit', 'age': 32, 'salary': 423423423},
                 'emp_6': {'name': 'Chaitra', 'age': 54, 'salary': 23432432},
                 'emp_7': {'name': 'Mahak', 'age': 54, 'salary': 243324324}}

ex_emp = {}

In [7]:
def emp_remove(*args):
    for i in args:
        ex_emp.setdefault(i , existing_emp.pop(i))
emp_remove('emp_6' , 'emp_2' , 'emp_4')

In [9]:
existing_emp

{'emp_1': {'name': 'Salahudin', 'age': 32, 'salary': 4234324},
 'emp_3': {'name': 'Mohini', 'age': 26, 'salary': 4234324324},
 'emp_5': {'name': 'Amit', 'age': 32, 'salary': 423423423},
 'emp_7': {'name': 'Mahak', 'age': 54, 'salary': 243324324}}

In [11]:
ex_emp

{'emp_6': {'name': 'Chaitra', 'age': 54, 'salary': 23432432},
 'emp_2': {'name': 'Pranav', 'age': 43, 'salary': 4234234324},
 'emp_4': {'name': 'saurabh', 'age': 23, 'salary': 4234324324}}

# Local and Global Variable

In [ ]:
def function_name(parameters):
    stat1
    sta2
    
function_name(arguments)

In [ ]:
1.positional
2.keyword
3.Default
4.variable

In [28]:
x = 10
y = 20

def add(a,b):
    c = a + b
    d = x + y
    print(c)   #local variables
    print(d)   #local variables

print(x)  #Global variables
print(y)  #Global variables
#print(c) # local variables are not accessible outside function
#print(d)
add(1,2)

10
20
3
30

In [35]:
x = 10
y = 20

def add(a,b):
    global c
    c = a + b
    global d
    d = x + y
    print(c)   #local variables
    print(d)   #local variables

add(1,2)
print(x)  #Global variables
print(y)  #Global variables
print(c) # now its global as its declare as global
print(d)

3
30
10
20
3
30

# Return

- If not used by default every function returns None
- It can only use once inside function

In [56]:
def add(a,b):
    print(a+b)
    
re = add(1,2)
print(re)

3
None

In [54]:
def add (a,b):
    return(a+b)

re = add(1,2)
print(re)

3

In [63]:
def palin(a):
    if a == a[::-1]:
        return("Palindrome")
    else:
        return("Not palindrome")

print(palin("level"))
palin("car")

Palindrome

'Not palindrome'

In [81]:
def add(a,b):
    c = a + b
    d = a - b
    return c,d

a1,a2=add(20,10)
print(a1,a2)

30 10

In [111]:
lst = [23,45,76,45,89,90,10,43,54,67]
e_list = [] 
o_list = []
def num(a):
    for i in a:
        if (i%2 == 0):
            e_list.append(i)
        else:
            o_list.append(i)
    return 'even:',e_list,'odd',o_list
num(lst)

('even:', [76, 90, 10, 54], 'odd', [23, 45, 45, 89, 43, 67])

# Yield

In [121]:
lst = [23,45,76,45,89,90,10,43,54,67]

def num(a):
    for i in a:
        if (i%2 == 0):
            yield i

list(num(lst))

[76, 90, 10, 54]

In [125]:
lst = ['abc','xyz','pqr','tfw']

def alpha(a):
    for i in a:
        yield i.upper()

list(alpha(lst))

['ABC', 'XYZ', 'PQR', 'TFW']

1.Global : 
- Brings the variable along with its value outside the function


2. Return:
- Brings the value outside the function
- as soon as return executes your function is closed

3. Yield:
- Brings the value outside the function
- as soon as yield executes your function is not closed,next iteration will be continued

# Recursive Function
- Making a function call itself is called as recursive function

In [160]:
def demo():
    a = eval(input("Ented data:"))
    if a == 0:
        return 'outside the function'
    else:
        return demo()
demo()

Ented data: 4
Ented data: 0

'outside the function'

In [172]:
def cdm():
    deposit = eval(input("Enter amount to deposit:"))
    print('amount deposited')
    con = input("Do you want to deposit again y/n: ").lower()
    if (con == 'y'):
        return cdm()
    else:
        return 'Have a nice day'

cdm()

Enter amount to deposit: 789654

amount deposited

Do you want to deposit again y/n:  y
Enter amount to deposit: 56245

amount deposited

Do you want to deposit again y/n:  n

'Have a nice day'

In [186]:
def cdm():
    deposit = eval(input("Enter amount to deposit:"))
    print('amount deposited')
    con = input("Do you want to deposit again y/n: ").lower()
    if (con == 'y'):
         cdm()     # without return
    else:
        return 'Have a nice day'

print(cdm())

Enter amount to deposit: 45

amount deposited

Do you want to deposit again y/n:  y
Enter amount to deposit: 55

amount deposited

Do you want to deposit again y/n:  n

None

In [190]:
def fact(num):
    if num == 0:
        return 1
    else:
        return num * fact(num-1)
fact(5)

120