# Lambda: Anonymous Function - A function without a name

syntax

lambda args: expression

In [43]:
#syntax 1:


x = lambda a,b: a + b

x(1,2)

3

In [45]:
# Syntax 2:

(lambda a,b : a + b)(10,20)

30

In [61]:
(lambda x : 'Palindrome' if x == x[::-1] else 'Not Palindrome') ('level')

'Palindrome'

In [69]:
(lambda T : ((9/5) * T) + 32)(32)

89.6

In [77]:
num = eval(input("Enter number:"))
(lambda a: 'even' if a%2==0 else 'odd')(num)

Enter number: 5

'odd'

# Map
1.function
2.seq

In [85]:
temp = [32,45,67,89]

list(map((lambda t : ((9/5) * t)+32),temp))

[89.6, 113.0, 152.60000000000002, 192.20000000000002]

In [95]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']


list(map((lambda a : a.split('@')[0]) ,lst))

['akzelxw',
 'elum',
 'akbar.caakaterasu',
 'akarui.kibuno',
 'ajsparkchick',
 'ajmeia',
 'ajhnstn87',
 'ailuvzhoko4',
 'ailuvzhoko3',
 'ailuvzhoko2',
 'ailuvzhoko',
 'aillensiquioco',
 'ahmovic_ines',
 'ahmed_g300',
 'ahmadjazlan',
 'ahmad_ridho19']

In [97]:
a = [1,2,3,4,5]
b = [6,7,8,9,6]

list(map((lambda x,y: x + y),a,b))

[7, 9, 11, 13, 11]

# Reduce

1. function
2. sequence

In [103]:
from functools import reduce

In [105]:
l1 = [1,2,3,4,5]

reduce((lambda x,y:x+y),l1)

15

In [109]:
l1 = [1,2,3,4,5]

reduce((lambda x,y : x * y),l1)

120

In [113]:
l1 = [91,72,53,94,50]

reduce((lambda x,y : x if x < y else y),l1)

50

In [115]:
l1 = [91,72,53,94,50]

reduce((lambda x,y : x if x > y else y),l1)

94

# Filter 

1. Function
2. sequence

Note: A function should be created in such a format that it returns bools values as an output

In [119]:
lst = [32,45,67,43,21,98]

list(filter((lambda a : a%2 == 0 ),lst))

[32, 98]

In [131]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

list(filter(lambda email: email.endswith('@gmail.com'), lst))

['elum@gmail.com',
 'akbar.caakaterasu@gmail.com',
 'akarui.kibuno@gmail.com',
 'ajhnstn87@gmail.com',
 'ahmadjazlan@gmail.com']

In [137]:
list(filter((lambda a: '@gmail.com' in a),lst))

['elum@gmail.com',
 'akbar.caakaterasu@gmail.com',
 'akarui.kibuno@gmail.com',
 'ajhnstn87@gmail.com',
 'ahmadjazlan@gmail.com']

In [143]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

list(filter((lambda a: a.split('@')[1] =='gmail.com'),lst))

['elum@gmail.com',
 'akbar.caakaterasu@gmail.com',
 'akarui.kibuno@gmail.com',
 'ajhnstn87@gmail.com',
 'ahmadjazlan@gmail.com']

In [171]:
import pandas as pd

data = pd.DataFrame({'day': {0: '1/1/2017',
  1: '1/2/2017',
  2: '1/3/2017',
  3: '1/4/2017',
  4: '1/5/2017',
  5: '1/6/2017'},
 'temperature': {0: 32, 1: 35, 2: 28, 3: 24, 4: 32, 5: 31},
 'windspeed': {0: 6, 1: 7, 2: 2, 3: 7, 4: 4, 5: 2},
 'event': {0: 'Rain', 1: 'Sunny', 2: 'Snow', 3: 'Snow', 4: 'Rain', 5: 'Sunny'}})

data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [149]:
data['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [155]:
list(map((lambda x : x.split('/')[-1]),data['day']))

['2017', '2017', '2017', '2017', '2017', '2017']

In [167]:
list(map((lambda x : 'Even' if x%2==0 else 'Odd'),data['windspeed']))

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Even']

In [177]:
import pandas as pd

data = pd.DataFrame({'day': {0: '1/1/2017',
  1: '1/2/2017',
  2: '1/3/2017',
  3: '1/4/2017',
  4: '1/5/2017',
  5: '1/6/2017'},
 'temperature': {0: 32, 1: 35, 2: 28, 3: 24, 4: 32, 5: 31},
 'windspeed': {0: 6, 1: 7, 2: 2, 3: 7, 4: 4, 5: 2},
 'event': {0: 'Rain', 1: 'Sunny', 2: 'Snow', 3: 'Snow', 4: 'Rain', 5: 'Sunny'}})

data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [181]:
list(map((lambda x,y: x/y),data['temperature'],data['windspeed']))

[5.333333333333333, 5.0, 14.0, 3.4285714285714284, 8.0, 15.5]

In [195]:
list(map((lambda x : x.lower()[0] if x.lower()[1] == 'aeiou' else x[-1]),data['event']))

['n', 'y', 'w', 'w', 'n', 'y']

In [ ]:
print(list(lambda x : "palindrome" if x=={::-1}(0"not palindrome())

In [1]:
list(map(lambda x: "even" if x%2==0 else "odd"),4)

TypeError: map() must have at least two arguments.