In [4]:
a = ['xyz','abc']
print(type(a),a)

<class 'list'> ['xyz', 'abc']

In [6]:
a = ('xyz','abc')
print(type(a),a)

<class 'tuple'> ('xyz', 'abc')

In [14]:
a = {1,2,3,4,5}
print(a,type(a))
print(len(a))

{1, 2, 3, 4, 5} <class 'set'>
5

In [20]:
a = {"name":"shivani","age":25}
print(a,type(a),len(a))

{'name': 'shivani', 'age': 25} <class 'dict'> 2

In [32]:
a = {"name":"Teli","age":25,"salary":100000}
print("age :",a["age"])
print("salary :",a["salary"])
print("name :",a["name"])

age : 25
salary : 100000
name : Teli

In [34]:
a = 5.5
print(a,type(a))

5.5 <class 'float'>

In [36]:
b = 2+5j
print(b,type(b))

(2+5j) <class 'complex'>

In [38]:
c = True
print(c,type(c))

True <class 'bool'>

In [50]:
temp = "Hello, Data Scientist!!!"
print(temp)
print(type(temp))

Hello, Data Scientist!!!
<class 'str'>

# Comments - Expalin the code, Stop execution of some part of code , ctrl + ? =to comment and uncomment mulitple lines
1-# = single line comment
2-''' .........''' = multiline code
3-"""................""" = multiline code

In [53]:
pi = 3.14 # value for pi in always constant
r = 2 #provided radius
area = pi * r * r # formula for area of circle
print(area) #output

12.56

# Indentation - we dont have {} in python  we have to use spaces

In [62]:
a = 10
b = 20

if a > b:
    print("SQL")
    print("Python")
print("Big Data")

Big Data

In [65]:
a = 10
b = 40

if a < b:
    print("SQL")
    if a == b:
        print("C++")
    print("Python")

SQL
Python

# Typecasting - convert one data type to another data type, 
* int()
* float()
* bool()
* str()
* complex()

In [73]:
# Syntax 1

a = float(45)

print(a,type(a))

45.0 <class 'float'>

In [77]:
# Syntax 2

a = 45

print(a,type(float(a)))

45 <class 'float'>

In [79]:
a = complex(34)

print(a, type(a))

(34+0j) <class 'complex'>

In [85]:
a = "5"
print(float(a))

5.0

In [87]:
a = 45.65

print(int(a),type(a))

45 <class 'float'>

In [4]:
a = str(56)

print(a)

56

In [1]:
x = "43"

print(str(x))

43

In [6]:
t = float("3.4")

print(t)

3.4

In [11]:
demo = eval("45.6")

print(demo,type(demo))

45.6 <class 'float'>

In [13]:
r = eval("5+5j")
print(r)

(5+5j)

In [21]:
l = eval('[3,4,5,6,7.8]')

print(l)

[3, 4, 5, 6, 7.8]

# Input Functions

- collect an input from the user
- Input wil always be in string data type

In [36]:
a = eval(input("Enter data:"))

print(a,type(a))

Enter data: 34.6

34.6 <class 'float'>

In [42]:
a = eval(input("Enter number1: "))
b = eval(input("Enter number2: "))

print("additon of given numbers is: ", a + b)

Enter number1:  20
Enter number2:  10

additon of given numbers is:  30

In [48]:
#typecating
a = eval(input("Enter number1: "))
b = eval(input("Enter number2: "))

print("additon of given numbers is: ", a + b)

Enter number1:  56
Enter number2:  7.8

additon of given numbers is:  63.8

In [56]:
a = eval(input("Enter number1: "))
b = eval(input("Enter number2: "))

print(f"The additon of {a} and {b} is: ", a + b)

Enter number1:  3
Enter number2:  4

The additon of 3 and 4 is:  7

In [62]:
a = eval(input("Enter number1: "))
b = eval(input("Enter number2: "))

print("additon of" +str(a) +" & " +str(b)+ " = " +str(a + b))

Enter number1:  5
Enter number2:  6

additon of5 & 6 = 11

In [66]:
x = input("Enter first name:")
y = input("Enter last name:")

print(str(x) + '----->' +str(y))

Enter first name: Shivani
Enter last name: Teli

Shivani----->Teli

In [68]:
x = input("Enter first name:")
y = input("Enter last name:")

print(x + '----->' +y)

Enter first name: shivani
Enter last name: teli

shivani----->teli

In [75]:
x = eval(input("Enter first name:"))
y = eval(input("Enter last name:"))

print(x + '----->' +y)

Enter first name: "Data"
Enter last name: "Science"

Data----->Science

# Format String

In [88]:
#syntax 1

a = eval(input("Enter number1: "))
b = eval(input("Enter number2: "))

print("The additon of {} and {} is:  {} ".format(a,b,a+b ))

Enter number1:  2
Enter number2:  3

The additon of 2 and 3 is:  5

In [92]:
#syntax 2

a = eval(input("Enter number1: "))
b = eval(input("Enter number2: "))

print(f"The additon of {a} and {b} is: {a + b}")

Enter number1:  1
Enter number2:  2

The additon of 1 and 2 is: 3

In [96]:
x = input("Enter first name:")
y = input("Enter last name:")

print(f"{x} -----> {y}")

Enter first name: data
Enter last name: scientist

data  -----> scientist

In [110]:
phone = int(input("Enter mobile number:"))

print(f" +91-{phone}")

Enter mobile number: 9011373629

 +91-9011373629

In [116]:
temp = eval(input("Enter today's temperature in degree cel: "))

far = (temp * (9/5)) + 32

print(f"The faranite value for the {temp} degree cel = {far}")

Enter today's temperature in degree cel:  32.5

The faranite value for the 32.5 degree cel = 90.5

# Output Function

print

In [124]:
a = 10
b = 20
print(a,b)
print(a)
print(b)

10 20
10
20

In [132]:
#Seprate:
a = 10
b = 20
c = 30

print(a,b,c, sep = '---->')

10---->20---->30

In [134]:
#End:
a = 10
b = 20
print(a,b)
print(a, end = "&")
print(b)

10 20
10&20

In [146]:
a = 10
b = 20
c = 30
d = 40
e = 50

print(a,b,sep = '+++',end = '---')
print(c,e,sep = '**')
print(d,sep = '###')
print(a,b,e, sep = '&&&', end = '%%%')

10+++20---30**50
40
10&&&20&&&50%%%

# Range - start,stop,step

-start ---->inclusive ---->by default 0
-stop------>exclusive
-step------> by default 1

range(start,stop,step)

In [169]:
# 0 - 10

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [175]:
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [183]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [193]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [200]:
list(range(50,4,-5))

[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [210]:
for i in range(65,91):
    print(chr(i),end = ',')

A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,

In [212]:
for i in range(97,123):
    print(chr(i),end = ',')

a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,

# Time Docstring:
strftime(format[, tuple]) -> string

Convert a time tuple to a string according to a format specification.
See the library reference manual for formatting codes. When the time tuple
is not present, current time as returned by localtime() is used.

Commonly used format codes:

%Y  Year with century as a decimal number.
%m  Month as a decimal number [01,12].
%d  Day of the month as a decimal number [01,31].
%H  Hour (24-hour clock) as a decimal number [00,23].
%M  Minute as a decimal number [00,59].
%S  Second as a decimal number [00,61].
%z  Time zone offset from UTC.
%a  Locale's abbreviated weekday name.
%A  Locale's full weekday name.
%b  Locale's abbreviated month name.
%B  Locale's full month name.
%c  Locale's appropriate date and time representation.
%I  Hour (12-hour clock) as a decimal number [01,12].
%p  Locale's equivalent of either AM or PM.

Other codes may be available on your platform.  See documentation for
the C library strftime function.
Type:      builtin_function_or_method

In [9]:
import time
time.strftime('%c')

'Wed Jul 30 10:18:55 2025'

In [ ]:
import time
time.strftime()
len

In [3]:
import time
time.strftime('%Y-%m-%d %I:%M:%S %p %z')

'2025-07-29 04:36:46 PM +0530'

In [1]:
import time

t = time.strftime('%Y-%m-%d %I:%M:%S %p')

temp = eval(input("Enter today's temperature in degree cel: "))

far = (temp * (9/5)) + 32

print(f"At {t} ---> The faranite value for the {temp} degree cel = {far}")

Enter today's temperature in degree cel:  23

At 2025-07-29 04:18:17 PM ---> The faranite value for the 23 degree cel = 73.4

In [232]:
from datetime import datetime

a = '2000-01-01'

birthday = datetime.strptime(a , '%Y-%m-%d')
today = datetime.today()

age = today.year - birthday.year - ((today.month,today.day) < (birthday.month,birthday.day))
age

25

# Integer DataType

In [2]:
a = -89

print(a,type(a))

-89 <class 'int'>

# operations possible on Integer

In [ ]:
## Arithmetic Operations

+, - ,*,/,**(exponent),,//(floor division),%(Modulus)

In [5]:
a = 45
b = 5

a+b

50

In [7]:
a = 45
b = 5

a - b

40

In [9]:
a = 45
b = 5

a * b

225

In [11]:
a = 45
b = 5

a / b

9.0

In [18]:
a = 45
b = 5

a ** b

184528125

In [45]:
import math 
a = 10
b = 8
print(math.ceil(a/b))
print(a / b)
print(a // b)

2
1.25
1

In [24]:
a = 10
b = 6

a // b

1


floor value                          exact value                      ceiling value
    1                                    1.666                               2

In [30]:
a = -10
b = 3

print(a / b)
print(a//b)

-3.3333333333333335
-4

In [32]:
import math 
a = 10
b = 3
math.ceil(a/b)

4

In [49]:
a = 10
b = 3

print(a / b) #return exact value
print(a // b) # give floor value
print(a % b) #returns remainder value

3.3333333333333335
3
1

# Comparison Operator
----->   > , < , >= , <=

-Always return bool

In [51]:
a = 23
b = 34

print(a > b)

False

In [53]:
#Comparison with float is allowed

a = 23
b = 34.8

print(a > b)

False

In [55]:
#Comparison with bool value is allowed
a = 23
b = True

print(a > b)

True

In [64]:
#Comparison with string value is not allowed
a = 23
b = "abc"

print(a > b)

True

In [68]:
a = 'abc' #97 
b = 'ABC' #65 

print(a < b)

False

In [70]:
a = 'abc' #97 98 99
b = 'aBC' #65 66 67

print(a < b)

False

In [76]:
#ord() - return ascii of any value
a = 'H'

ord(a)

72

In [78]:
#bin - return binrary of any value

bin(72)

'0b1001000'

In [80]:
# int - return int of any binary value

int(0b1001000)

72

In [82]:
#chr - return chr of any value ascii value

chr(75)

'K'

In [ ]:
# unable to comapre with complex data type

a = 40
b = 4 + 8j

print(a > b)

# comparison operator works on - bool, float,int
# not on - complex , string

# Equality Operartor

== , !=
- Do equality on any operator it will never throw error

In [87]:
a = 115
b = 'abc'

a == b

False

In [89]:
a = 5
b = 9 + 8j

a ==b

False

In [103]:
print(65 ==ord('A')) # comparing with values itself so retrun True

True

In [105]:
a = 65
b = 'A'

print(a == b) # caomparing with str here so its False

False

In [107]:
print(ord('A') + 20 == 85)

True

In [ ]:
# Logical Operators
-----> AND
-----> OR
----->NOT

In [129]:
user_name = 'abc@gmail.com'
password = 'Demo'

a = input("Enter User Name: ")
b = input("Enter Password: ")

if (user_name == a) and (password == b):    #both condition should true then it wil return true
    print("LoggedIn")
else:
    print("Incorrect Info")

Enter User Name:  abc@gmail.com
Enter Password:  Demo

LoggedIn

In [127]:
user_name = 'abc@gmail.com'
password = 'Demo'

a = input("Enter User Name: ")
b = input("Enter Password: ")

if (user_name == a) and (not password == b):  # not will convert true scenario to false and vice versa
    print("LoggedIn")
else:
    print("Incorrect Info")

Enter User Name:  abc@gmail.com
Enter Password:  Demo

Incorrect Info

In [125]:
user_name = 'abc@gmail.com'
password = 'Demo'

a = input("Enter User Name: ")
b = input("Enter Password: ")

if (user_name == a) or (password == b): # one condition should be true
    print("LoggedIn")
else:
    print("Incorrect Info")

Enter User Name:  abc@gmail.com
Enter Password:  demo

LoggedIn

# Typecasting into bool
int ---> 0 is false and rest all the TRUE
Float ----> 0.0 is false and rest all are True
complex ---> 0 + 0j is false and rest all are True
None----> always False
str-----> False and rest all are True
[]-False
()- False
{} - False

In [134]:
a = 43
bool(a)

True

In [136]:
a = 9.8
bool(a)

True

In [147]:
a = 'abc' # even space consider as value in str
bool(a)

True

In [ ]:
## If values are there in logical opearator there is an deviation

A and B ---> The result will be A if A is False else it is B

A or B -----> The result will be A if A is True else B

In [181]:
#looks for false scenario
45 and 23 # bool of 45 is True , bool of 23 is True so both are True it will consider B

23

In [165]:
0 and 23

0

In [183]:
# Looks for True scenario
45 or 23 # bool of 45 is true , bool of 23 is True but its OR so it will consider first True value

45

In [185]:
 print(0 or 45)

45

In [187]:
print(34 or 0)

34

In [189]:
print(34 and 0)

0

In [193]:
print(0 and 40)

0

# Bitwise Operators

-Bitwise and --------> &
-Bitwise or ---------> |
-Bitwise xor ---------> ^
-Bitwise left shift-----------> <<
-Bitwise right shift ---------> >>
-Bitwise not -----------------> ~

In [211]:
# Bitwise and --------> &

a = 10
b = 20

print(a & b)

0

In [223]:
a = 45
b = 56

print(a & b)
#print(bin(45))  # 0b101101
#print(bin(56))  # 0b111000

40

In [ ]:
10 ---> 01010  #have to add 0 at begining
20 ---> 10100
        00000

In [225]:
a = 67
b = 89

print(a | b)

91

In [237]:
a = 67
b = 80
""""
a =   0b1000011
b =   0b1010000
o/p = 0b0101100  
"""
print(a ^ b)

19

In [235]:
print(bin(67))

print(bin(80))

0b1000011
0b1010000

# Bitwise left shift << 

a * (2 ** n)

add zero at end

In [1]:
x = 67
y = 3

print(x << y)

536

In [8]:
#bin(67) n=3
#0b1000011 so add 3 zero at end
#0b1000011000
print(int(0b1000011000))

536

# Bitwise right shift >>

a // (2 ** n)

add zero at start and remove value from end

In [12]:
print(67 >> 3)

8

In [10]:
#bin(67) n=3
#0b1000011 so add 3 zero at start and remove 3 values from end
#0b0001000
print(int(0b0001000))

8

In [14]:
print(78 >> 4)

print(78 > 4)

4
True

## Bitwise not ~

-adds 1 to existing value 
-It converts it sign

In [20]:
x = 45
print(~x)

-46

In [22]:
x = -98
print(~x)

97

# Assignment Operators

=

In [28]:
x = 40

# Add 2 to the existing value of x and reassign it to the same var

x = x + 2
print(x)

42

In [30]:
x = 40

# Add 2 to the existing value of x and reassign it to the same var

x += 2
print(x)

42

In [34]:
x = 40

# Add 2 to the existing value of x and reassign it to the same var

x -= 2
print(x)

38

In [40]:
x = 46

# Add 2 to the existing value of x and reassign it to the same var

x &= 2
print(x)

2

In [55]:
lst = ['shivani','teli','sam','sita','sai','siya']
count = 0
for i in lst:
    if i.startswith('s'):
        count +=1
print(count)

5

# Identity operator

memory reusability- 

- int ---> -5 to 256
- string ---> applicable A-Z, a-z,0-9,_
- Bool----> Applicabale
- None ---> Applicable

- float ---> Not Applicable
- complex ---> Not Applicable
eg. in image if suppose purple color present multiple times so everytime need to create varibale for it having same value so they python introduces memory resuabilty concept i.e -5 to 256

In [57]:
a = 10
b = 20
c = 30
print(id(a))
print(id(b))
print(id(c))

3213409649168
3213409649488
3213409649808

In [59]:
a = True
b = True
print(id(a))
print(id(b))

140716447058128
140716447058128

In [61]:
a = None
b = None
print(id(a))
print(id(b))

140716447133376
140716447133376

In [63]:
a  = 3.4
b = 3.4

print(id(a))
print(id(b))

3213527292848
3213527291920

In [67]:
# String use reuse same memory
a = 'python'
b = 'python'

print(id(a))
print(id(b))

3213455215856
3213455215856

In [71]:
a = 23
b = 23
print(a is b)

True

In [75]:
a = 9.8
b = 4.5

print(a is not b)

True

In [77]:
# String use reuse same memory
a = 45 
b = 45
print(id(a))
print(id(b))

print(a is b)
print(a == b)

3213409650288
3213409650288
True
True

In [81]:
# String use reuse same memory
a = 45.8 
b = 45.8
print(id(a))
print(id(b))

print(a is b)
print(a == b)

3213527287440
3213527294480
False
True

# Float

arithmetic = +,-,*,/,//,**,%    ## Applicable
comparison = >,<,<=,>=          ## Applicable
equality = ==, !=               ## Applicable       
logical = and,or,not            ## Applicable
bitwise = &,|,~,<<,>>           ## Not Applicable
assignment = =                  ## Not Applicable
identity = is ,is not           ## Applicable

In [7]:
a = 9.8
b = 5.4
print("Arithmetic operator")
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)
print("comparison operator")
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print("equality operator")
print(a==b)
print(a!=b)
print(a%b)
print("logical operator")
print(a and b)
print(a or b)
# #print(a ! b)
# print("Bitwise Opeartor")
# print(a & b)
# print(a | b)
# #print(a ~ b)
# print(a >> b)
# print(a << b)
print("Assignment Operator")
print(a+=b)
print("Identity operator")
print(a is b)
print( a is not b)

SyntaxError: invalid syntax (1580732840.py, line 31)

# Complex

arithmetic = +,-,*,/,//,**,%    ## Applicable expect //,%
comparison = >,<,<=,>=          ## Not Applicable
equality = ==, !=               ## Applicable       
logical = and,or,not            ## Applicable
bitwise = &,|,~,<<,>>           ## Not Applicable
assignment = =                  ## Not Applicable
identity = is ,is not           ## Applicable

In [117]:
a = 9+2j
b = 5+4j
print("Arithmetic operator")
print(a+b)
print(a-b)
print(a*b)
print(a/b)
#print(a//b)
print(a**b)
#print(a%b)
# print("comparison operator")
# print(a>b)
# print(a<b)
# print(a>=b)
# print(a<=b)
print("equality operator")
print(a==b)
print(a!=b)
print("logical operator")
print(a and b)
print(a or b)
#print(a ! b)
# print("Bitwise Opeartor")
# print(a & b)
# print(a | b)
# #print(a ~ b)
# print(a >> b)
# print(a << b)
# print("Assignment Operator")
# print(a = b)
print("Identity operator")
print(a is b)
print( a is not b)

Arithmetic operator
(14+6j)
(4-2j)
(37+46j)
(1.2926829268292683-0.6341463414634148j)
(-23623.953611397872-14610.03652470125j)
equality operator
False
True
logical operator
(5+4j)
(9+2j)
Identity operator
False
True

In [2]:
a = 9
b = 7
a += b