# Tuple

-anything written inside() and each elements are sep by ,

In [21]:
a = (1,2,3,4,5)
print(a,type(a))

(1, 2, 3, 4, 5) <class 'tuple'>

# Methods to create tuple

In [26]:
# If u already the elements

a = (10,20,30,40,50)

print(a,type(a))

(10, 20, 30, 40, 50) <class 'tuple'>

In [28]:
# Taking user input

a = eval(input("enter a tuple:"))

print(a,type(a))

enter a tuple: 1,2,3,4,5

(1, 2, 3, 4, 5) <class 'tuple'>

In [30]:
# Taking user input

a = eval(input("enter a tuple:"))

print(a,type(a))

enter a tuple: (1,2,3,4,55)

(1, 2, 3, 4, 55) <class 'tuple'>

In [34]:
# by typecasting

a = tuple("hello world")
print(a,type(a))

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd') <class 'tuple'>

In [36]:
# by typecasting

a = tuple([21,34,56,78])
print(a,type(a))

(21, 34, 56, 78) <class 'tuple'>

### Tuple packing and tuple unpacking

- tuple packing ---> assigning multiple elements to a single var
- tuple unpacking ---> assigning multiple elements to a multiple var

In [45]:
#Tuple packing

a = 67,234,'xyz'
print(a,type(a))

(67, 234, 'xyz') <class 'tuple'>

In [49]:
#Tuple Unpacking

a,b,c= 1,2,'xyz'

print(a,type(a))
print(b,type(b))
print(c,type(c))

1 <class 'int'>
2 <class 'int'>
xyz <class 'str'>

In [51]:
#Tuple Unpacking

a,b,c= 1,2,['xyz','pqr']

print(a,type(a))
print(b,type(b))
print(c,type(c))

1 <class 'int'>
2 <class 'int'>
['xyz', 'pqr'] <class 'list'>

In [53]:
a = 'this is python class'

print(a.find('s'))

3

In [77]:
a = 'this is python class'

list(enumerate(a))

[(0, 't'),
 (1, 'h'),
 (2, 'i'),
 (3, 's'),
 (4, ' '),
 (5, 'i'),
 (6, 's'),
 (7, ' '),
 (8, 'p'),
 (9, 'y'),
 (10, 't'),
 (11, 'h'),
 (12, 'o'),
 (13, 'n'),
 (14, ' '),
 (15, 'c'),
 (16, 'l'),
 (17, 'a'),
 (18, 's'),
 (19, 's')]

In [81]:
a = "this is python's class"
for i,j in list(enumerate(a)):
    if j == 's':
        print(i)

3
6
15
20
21

In [ ]:
# Properties of Tuple:

- Sequence data type - allows to do indexing and slicing
- allows duplicates
- It's heterogeneous
- basic op - concatenation,repetation,Identity,membership
- It is an immutable data type

In [118]:
a = ("ram",25,9011376691)
print(a[0])

ram

In [122]:
a = ("ram",25,9011376691)
print(a[1:3])

(25, 9011376691)

In [128]:
a = ("ram",25,9011376691,"ram",25,"siya") #allow duplicates as well as heterogenous
print(a)

('ram', 25, 9011376691, 'ram', 25, 'siya')

In [136]:
a = (1,2,3)
b = (4,5,6)
print(a+b) #Concat

(1, 2, 3, 4, 5, 6)

In [138]:
a = (1,2,3)
print(a*2) #repetation

(1, 2, 3, 1, 2, 3)

In [146]:
a = (1,2,3)
b = (1,2,3)
print(a is b)
print(a is not b) # identity

False
True

In [162]:
a = (1,2,3)
b = (1,2,3)
print(2 in b)
print(3 not in b) #membership

True
False

In [ ]:
# Note: tuple is by default immutable so user cant to do changes in 
        data so it have in-built, it will give tuple  as a type

# Dictionary

In [171]:
a = {'name':"Ram","age":26,"salary":50000}
print(a,type(a))

{'name': 'Ram', 'age': 26, 'salary': 50000} <class 'dict'>

In [175]:
# If you alreday know the elements

a = eval(input("Enter a dict: "))
print(a,type(a))

Enter a dict:  {'a':1,'b':2,'c':3}

{'a': 1, 'b': 2, 'c': 3} <class 'dict'>

# TypeCasting

In [188]:
a = (['a',1],('b',2))

print(dict(a))

{'a': 1, 'b': 2}

In [192]:
a = eval(input("Enter number:"))
print(a,type(a))

Enter number: 2

2 <class 'int'>

In [202]:
a = dict(eval(input("Enter data:")))
print(a,type(a))

Enter data: {'a':20}

{'a': 20} <class 'dict'>

In [198]:
a = ['xyz','pqr','abc']
b = [12,34,56]
list(zip(a,b))

[('xyz', 12), ('pqr', 34), ('abc', 56)]

In [200]:
a = ['xyz','pqr','abc']
b = [12,34,56]
dict(zip(a,b))

{'xyz': 12, 'pqr': 34, 'abc': 56}

In [208]:
Name = input("Enter name of employees:").split(',')
Age = eval(input("Enter age of employees:"))

dict(zip(Name,Age))

Enter name of employees: shivani,teli,ram
Enter age of employees: 12,12,12

{'shivani': 12, 'teli': 12, 'ram': 12}

In [223]:
Name = eval(input("Enter name of employees:"))
Age = eval(input("Enter age of employees:"))

dict(zip(Name,Age))

Enter name of employees: "siya","piya"
Enter age of employees: 1,2

{'siya': 1, 'piya': 2}

In [233]:
Name = input("Enter name of employees:").split(',')
Marks = eval(input("Enter marks of employees:"))

dict(zip(Name,Marks))

Enter name of employees: shivani,teli
Enter marks of employees: [56,78],[54,78]

{'shivani': [56, 78], 'teli': [54, 78]}

In [281]:
Name = input("Enter name of employees:").split(',')
sub = input("Enter subjects:").split(',')
marks = eval(input("marks of students:"))
elist = []
for i in marks:
    elist.append(dict(zip(sub,i)))
print(dict(zip(Name,elist)))

Enter name of employees: siya,piya
Enter subjects: m,s,e
marks of students: [1,2,3],[4,5,6]

{'siya': {'m': 1, 's': 2, 'e': 3}, 'piya': {'m': 4, 's': 5, 'e': 6}}

In [295]:
emp = input("Enter employees:").split(',')
name = input("Enter name of employees:").split(',')
age = input("Enter age:").split(',')
salary = eval(input("salary of employees:"))
elist = []
for i in age:
    elist.append(dict(zip(name,zip(salary,i))))

dict(zip(emp,elist))

Enter employees: e,r,t
Enter name of employees: s,d,f
Enter age: 3,4,5
salary of employees: 6,7,8

{'e': {'s': (6, '3')}, 'r': {'s': (6, '4')}, 't': {'s': (6, '5')}}

In [ ]:
emp = input("Enter employees:").split(',')
name = input("Enter name of employees:").split(',')
age = input("Enter age:").split(',')
salary = eval(input("salary of employees:"))
elist = []
for i in age:
    elist.append(dict(zip(name,zip(salary,i))))

dict(zip(emp_name,elist))

# Keys, values, items

In [303]:
emp_data= {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
emp_data.keys()

dict_keys(['emp_1', 'emp_2', 'emp_3'])

In [305]:
emp_data= {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
emp_data.values()

dict_values([{'name': 'Siya', 'age': 21, 'salary': 908876}, {'name': 'Kiya', 'age': 29, 'salary': 895471}, {'name': 'Sam', 'age': 32, 'salary': 369874}])

In [307]:
emp_data= {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
emp_data.items()

dict_items([('emp_1', {'name': 'Siya', 'age': 21, 'salary': 908876}), ('emp_2', {'name': 'Kiya', 'age': 29, 'salary': 895471}), ('emp_3', {'name': 'Sam', 'age': 32, 'salary': 369874})])

In [311]:
emp_data= {'emp_1': {'name':'Siya','age':21,'salary':908876},
            'emp_2': {'name':'Kiya','age':29,'salary':895471},
            'emp_3': {'name':'Sam','age':32,'salary':369874}
           }
for i,j in emp_data.items():
    print(i,j)

emp_1 {'name': 'Siya', 'age': 21, 'salary': 908876}
emp_2 {'name': 'Kiya', 'age': 29, 'salary': 895471}
emp_3 {'name': 'Sam', 'age': 32, 'salary': 369874}

In [339]:
emp_data = {'emp_1': {'name': 'Siya', 'age': 21, 'salary': 908876},
 'emp_2': {'name': 'Kiya', 'age': 29, 'salary': 895471},
 'emp_3': {'name': 'Sam', 'age': 32, 'salary': 369874},
 'emp_4': {'name': 'shivani', 'age': '26', 'salary': 600000},
 'emp_5': {'name': 'shiv', 'age': 28, 'salary': 775471},
 'emp_6': {'name': 'sakhi', 'age': 23, 'salary': 969874},
 'emp_7': {'name': 'tina', 'age': 45, 'salary': 340000}}

name = input("enter name of emp searching for:")
for i,j in emp_data.items():
        if name in j.values():
            print(i)
            break
else:
    print("emp not found")

enter name of emp searching for: shivani

emp_4